name: EC2 Deployment

on:
  workflow_run:
    workflows: ["Test"]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy-ec2:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 174.129.123.56
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /home/ec2-user/dice
            chmod +x resources/deploy_ec2.sh
            ./resources/deploy_ec2.sh